/* .table {
  background-color: lightcoral;
 display: flex;
align-items: center;
justify-content: center;
   width:"500%";
} */
/* .Add{
  background-color: black;
  width: fit-content;
  margin-left: 658px;
} */